<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Principal">
    <h2>Bienvenido a la Clinica Uzqueda{{nombrePersona}}</h2>
    <div align="center">
      <img src="assets/img/imagenesclinica/logo.png">
    </div>
  </mat-tab>
  <mat-tab label="Agenda">
    <app-agenda></app-agenda>
  </mat-tab>
  <mat-tab label="Ficha del Paciente">
    <app-buscar-paciente></app-buscar-paciente>
  </mat-tab>
  <mat-tab label="Actualizar Datos Odontologo">
    <app-actualizar-datos-odontologo></app-actualizar-datos-odontologo>
  </mat-tab>
</mat-tab-group>
