<div class="titulo-registro">
  <h2 class="text-center">Usuario</h2>
</div>
<div class="row1">
  <div class="col-sm-2">
    <div class="card" style="width: 10rem;">
      <img src="assets/img/perfil-usuario.jpg" class="card-img-top">
      <div class="card-body">
        <button class="btn btn-primary" type="submit" routerLink="/odontologo" routerLinkActive="active">Odontologo</button>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="width: 10rem;">
      <img src="assets/img/perfil-usuario.jpg" class="card-img-top">
      <div class="card-body">
        <button class="btn btn-primary" type="submit" routerLink="/administrador" routerLinkActive="active">Administrador</button>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="width: 10rem;">
      <img src="assets/img/perfil-usuario.jpg" class="card-img-top">
      <div class="card-body">
        <button class="btn btn-primary" type="submit" routerLink="/secretaria" routerLinkActive="active">Secretaria</button>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="width: 10rem;">
      <img src="assets/img/perfil-usuario.jpg" class="card-img-top">
      <div class="card-body">
        <!--COLOCAR PACIENTE-->
        <button class="btn btn-primary" type="submit" routerLink="/paciente/paciente-home" routerLinkActive="active">Paciente</button>
      </div>
    </div>
  </div>
</div>
