<div class="especialidades" id="especialidades">
  <h1><span>Especialidades</span></h1>
</div>
<div class="informacione">
  <div class="containere">
    <div class="lbl-menu-e">
      <label for="eradio1" class="blockquote">Odontología General</label>
      <label for="eradio2" class="blockquote">Ortodoncia</label>
      <label for="eradio3" class="blockquote">Implantología</label>
      <label for="eradio4" class="blockquote">Rehabilitación Oral</label>
      <label for="eradio5" class="blockquote">Periodoncia</label>
      <label for="eradio6" class="blockquote">Endodoncia</label>
      <label for="eradio7" class="blockquote">Cirugía Oral</label>
      <label for="eradio8" class="blockquote">Odontopediatría</label>
      <label for="eradio9" class="blockquote">Estética Dental</label>
      <label for="eradio10" class="blockquote">Oclusión / Bruxismo y Trastornos Temporomandibulares (TTM)</label>
    </div>

    <div class="contente">

      <input type="radio" name="eradio" id="eradio1" checked>
      <div class="etab1">
        <p ALIGN="justify">
          <span class="titulo" ALIGN="center"><b>Odontología General</b></span><br><br>
          Nos enfocamos en diagnosticar, tratar y prevenir las enfermedades orales. Con una visión preventiva, promocional y atraumática, orientada a dar soluciones permanentes a través de controles periódicos, motivación, educación y empoderamiento de nuestros pacientes.<br/><br/>

          Brindamos consejos de alimentación, estilos de vida saludable, instrucción de higiene oral y consejería breve en tabaco, realizando una odontología de carácter preventivo y promocional. Procurando controlar las enfermedades de la boca, con controles periódicos, motivación, educación y empoderamiento de nuestros pacientes.<br/><br/>

          De esta manera, controlamos las principales patologías que afectan a la cavidad oral, como son:<br/><br/>

          <b>La caries dental</b> es una enfermedad multifactorial, producida por la placa bacteriana, al procesar los azucares de la dieta libera ácidos que desmineralizan los tejidos del diente. El signo final de enfermedad de caries dental es la cavitación o “picadura” provocando muchas veces dolor.<br/><br/>

          <b>Las enfermedades periodontales</b> son un conjunto de patologías relacionadas a los tejidos que sostienen el diente en la boca, como las encías y hueso alveolar. Estas enfermedades son de carácter inflamatorio y también están relacionadas con placa bacteriana.<br/><br/>

          Nuestro objetivo de impacto es la prevención de las enfermedades orales y  en caso de daño, otorgarles un tratamiento duradero y conservador.
        </p>
        <img src="assets/img/imagenesclinica/Odontologia%20General.jpg">
      </div>

      <input type="radio" name="eradio" id="eradio2">
      <div class="etab2">
        <p ALIGN="justify">
          <span class="titulo" ALIGN="center"><b>Ortodoncia</b></span><br><br>
          En esta especialidad nos encargamos de la prevención, diagnóstico y tratamiento de las anomalías dento-maxilares, es decir, corregir anomalías de mal posiciones dentarias o apiñamientos (Dientes chuecos), anomalías de relación entre la mandíbula y el maxilar, disfunciones, malos hábitos. Como objetivo final, velamos por una correcta oclusión de los dientes, tanto en lo funcional favoreciendo una buena mordida, como en lo estético con una disposición dentaria armónica.<br/><br/>

          Te asesoramos si requieres tratamiento de ortodoncia, en caso de los niños a que edad debe ser evaluado, evaluamos cual es el brackets ó frenillo es el más adecuado para tu caso clínico.<br/><br/>
          Podemos tratar mediante aparatos fijos y/o removibles.<br/><br/>
          <b>Ortodoncia fija:</b> Brackets metálicos y cerámicos – vestibulares o linguales.<br/><br/>
          <b>Ortodoncia removible:</b> placas y clear aligner o estampados.

        </p>
        <img src="assets/img/imagenesclinica/Ortodoncia-2.jpg">
      </div>

      <input type="radio" name="eradio" id="eradio3">
      <div class="etab3">
        <p ALIGN="justify">
          <span class="titulo" ALIGN="center"><b>Implantología</b></span><br><br>
          En esta especialidad tratamos casos clínicos de desdentación parcial o completa, realizando la inserción Quirúrgico de uno ó varios tornillos de titanio biocompatibles con el cuerpo humano. Estos tornillos llamados “Implantes Dentales” se ubican dentro del hueso y simulan las raíces de él o los dientes perdidos. Luego, sobre los Implantes se instalan las coronas dentales, las cuales simulan la pieza dental perdida.<br/><br/>

          Una de las ventajas de este tratamiento es que nos permite reemplazar las piezas faltantes por una pieza fija, la cual durará para siempre. El paciente podrá masticar nuevamente alimentos, sonreír sin miedo y mejorar su autoestima, atreves  de una solución conservadora.
        </p>
        <img src="assets/img/imagenesclinica/Estetica%20Dental-2.jpg">
      </div>

      <input type="radio" name="eradio" id="eradio4">
      <div class="etab4">
        <p ALIGN="justify">
          <span class="titulo" ALIGN="center"><b>Rehabilitación Oral</b></span><br><br>
          En La rehabilitación oral tenemos como objeto integrar todas las áreas de la odontología como prótesis fija, prótesis removible, implantes, operatoria, periodoncia, endodoncia y ortodoncia.<br/><br/>
          Rehabilitación Oral es la especialidad de la odontología que tiene por objeto devolver la armonía oclusal  (Mordida), así como la función masticatoria y estética en las personas que han perdido piezas dentarias tanto por caries, traumatismos, fracturas o problemas de pérdida de hueso por enfermedad periodontal.
        </p>
        <img src="assets/img/imagenesclinica/Rehabilitacion%20oral.jpg">
      </div>

      <input type="radio" name="eradio" id="eradio5">
      <div class="etab5">
        <p ALIGN="justify">
          <span class="titulo" ALIGN="center"><b>Periodoncia</b></span><br><br>
          En esta especialidad nos encargamos de tratar las enfermedades que afectan las encías y demás tejidos alrededor del diente, como son cirugía periodontal, terapias contra el mal aliento, sangrado y movilidad dentaria. Limpiezas, controles, instrucción y motivación en cuidado e higiene bucal.<br/><br/>
          Las principales enfermedades de este tipo son: gingivitis y periodontitis.<br/><br/>
          <b>Gingivitis:</b> es la inflamación de la encía que rodea a los dientes. Se asocia principalmente a placa bacteriana.
          Es una de las primeras manifestaciones de las enfermedades periodontales.
          Al ser ésta una inflamación, la encía se ve aumentada de tamaño, hay sangrado espontáneo o al cepillarse y la encía puede presentarse de color rojo vinoso. Se asocia muchas veces a mal aliento (halitosis) y dolor.<br/><br/>
          <b>La periodontitis:</b> Es la pérdida de soporte de los dientes, asociada a una inflamación crónica de los tejidos que soportan las piezas dentarias. Los signos de la periodontitis son los mismos que la gingivitis, sumándosele muchas veces movilidad dentaria, supuración y/o migración de piezas dentarias. Esto muchas veces afectando la estética y función normal de su boca.

        </p>
        <img src="assets/img/imagenesclinica/Periodoncia.jpg">
      </div>

      <input type="radio" name="eradio" id="eradio6">
      <div class="etab6">
        <p ALIGN="justify">
          <span class="titulo" ALIGN="center"><b>Endodoncia</b></span><br><br>
          Esta especialidad también llamada tratamiento de conducto, es la que mediante la extracción de la parte sensible del diente, se sella para poder mantenerlo, y poder realizar prótesis o restauración. Una vez realizado el tratamiento el dolor desaparece, pero el diente debe ser restaurado o rehabilitado.<br/><br/>

          Es la especialidad que se enfoca en las enfermedades de la pulpa dentaria (arteria, vena y nervio) y sus técnicas de curación. Está dentro de las denominadas especialidades de odontología conservadora, ya que permite mantener los dientes en boca en vez de la extracción.<br/><br/>

          En el paso siguiente del tratamiento de conducto, el diente puede ser restaurado con:
          <b>Restauración convencional, incrustaciones, Coronas/puentes ó Rehabilitaciones más complejas.</b><br/><br/>

          Es importante saber que una vez terminado el tratamiento, debe esperarse unos días antes de realizar la restauración definitiva de la pieza dentaria a fin de descartar cualquier molestia que se pueda producir después de este.

        </p>
        <img src="assets/img/imagenesclinica/endodoncia-1.jpg">
      </div>

      <input type="radio" name="eradio" id="eradio7">
      <div class="etab7">
        <p ALIGN="justify">
          <span class="titulo" ALIGN="center"><b>Cirugía Oral</b></span><br><br>
          Nuestro especialista se encarga de diagnosticar y tratar quirúrgicamente las enfermedades, traumatismos y defectos de los dientes, boca, maxilares y sus tejidos adyacentes, tanto en el aspecto funcional como estético. Con la ayuda de la patología se puede establecer un protocolo para abordar la lesión de la mejor manera y permitir al paciente su recuperación.<br/><br/>

          Entre los procedimientos más frecuentes están la extracción de los terceros molares o muela del juicio, la cirugía periodontal, extracciones con complicaciones, corregir oclusión o mordida, mejorar el tamaño de las encías, instalación de implantes y diagnosticar y tratar un amplio espectro de enfermedades orales.<br/><br/>

          Las cirugías más habituales que se realizan en esta especialidad son <b>Frenectomías, Drenaje de abscesos gingivales o periodontales, Apicectomías, Colgajo gingival , Gingivectomía , Gingivoplastía , Cirugías preprotésicas e implantes.</b><br/><br/>

          Por otra parte, la cirugía ayuda en casos de dientes en posiciones anómalas, que deben ser retirados para no causar daño a los dientes vitales, o para permitir el movimiento con ortodoncia.

        </p>
        <img src="assets/img/imagenesclinica/Cirugia%20Oral-1.jpg">
      </div>

      <input type="radio" name="eradio" id="eradio8">
      <div class="etab8">
        <p ALIGN="justify">
          <span class="titulo" ALIGN="center"><b>Odontopediatría</b></span><br><br>
          En esta especialidad tratamos el cuidado oral preventivo y terapéutico de niños y adolescentes. Consiguiendo su cooperación y confianza podremos crear un buen ambiente dental y lograr que el niño se lleve una buena experiencia formando así una base para futuras interacciones positivas con el odontólogo y el equipo instrumental odontológico.<br/><br/>

          El Odontopediatría se encarga de detectar posibles anomalías en la posición de los maxilares o dientes para remitir al ortodoncista y hacer un tratamiento restaurador en caso de necesitarlo.<br/><br/>

          El tratamiento restaurador principalmente se compone de tratar los traumatismos dentoalveolares y lesiones por caries dental en dientes temporales (caries tempranas de la infancia) y permanentes jóvenes con materiales restauradores de alta calidad, dependiendo del caso clínico, como puede ser un vidrio ionómero o resina compuesta.<br/><br/>

          Entre las terapias preventivas tenemos la aplicación de flúor barniz cada 3 o 6 meses y Sellantes en molares, que consiste en obturar levemente los surcos y fisuras de las piezas dentales sin quitar material dental para evitar posibles lesiones por caries.

        </p>
        <img src="assets/img/imagenesclinica/Odontopediatria.jpg">
      </div>

      <input type="radio" name="eradio" id="eradio9">
      <div class="etab9">
        <p ALIGN="justify" class="ptexto">
          <span class="titulo" ALIGN="center"><b>Estética Dental</b></span><br><br>
          Tener una buena sonrisa es sinónimo de salud y bienestar social, por eso su importancia. Cada vez son más los pacientes que se preocupan por tener no sólo una boca sana, sino también una bonita sonrisa. ¿Cómo puede mejorar el aspecto de sus dientes? Si no está satisfecho con la apariencia de su dentadura, en  Clínica Dental Alameda puedes asesorarte y encontrar la solución que esperas, a través de nuestra amplia gama de tratamientos indicados para mejorar y fortalecer su sonrisa.<br><br>
          <b>1.	Blanqueamiento dental:</b> Si su dentadura ha ido adquiriendo una coloración amarillenta a lo largo de los años podrá recuperar la blancura de la misma gracias a nuestros tratamientos.
          Nuestro sistema de luz fría de arco completo actúa sobre un gel especial para devolver a sus dientes una apariencia mucho más estética y sana.
          Nuestro tratamiento no implica desgaste ni dolor alguno. Apenas una hora de tratamiento y empezará a ver resultados.<br><br>
          <b>2.	Carillas de porcelana:</b> Si no se siente cómodo con el aspecto y forma de sus dientes más visibles, ya sea por su forma, color o posición, la solución se encuentra en nuestras carillas de porcelana. Estas sencillas y cómodas láminas se adhieren a la superficie del diente mejorando sustancialmente la apariencia de su dentadura.
          No tendrá la sensación de llevar un objeto extraño ya que se integran perfectamente con la mordida y su adhesión semipermanente permite que sean utilizadas durante varios años antes de sustituirlas por unas nuevas.<br><br>
          <b>3.	Contorneado dental:</b> ¿Alguna de sus piezas dentales no tiene el tamaño o forma que desea? Situaciones como bordes aserrados, en pico o fracturas parciales hacen que nuestra sonrisa no sea todo lo bonita que nos gustaría.
          Gracias a nuestra técnica de contorneado dental podrá volver a sonreír sin complejos.
          Utilizamos para esta fin, resinas compuestas de alta calidad para restaurar y dar forma a su diente, contorneándolo después para dejarlo perfecto, devolviendo de esta manera, la estética y función perdidas.
          Esta técnica no es dolorosa ni invasiva. ¡Mírese al espejo y sonría!<br><br>

          <b>4.	Ortodoncia:</b> Si sus dientes tienen una posición incorrecta gracias a la ortodoncia obtendrá una sonrisa perfecta y envidiable.
          En Clínica Dental Alameda podemos ofrecerle desde la solución tradicional de ortodoncia metálica básica hasta los últimos tratamientos de ortodoncia estética, con la que apenas nadie percibirá que la lleva.<br><br>

        </p>
      </div>

      <input type="radio" name="eradio" id="eradio10">
      <div class="etab10">
        <p ALIGN="justify" class="ptexto">
          <span class="titulo" ALIGN="center"><b>Oclusión / Bruxismo y Trastornos Temporomandibulares (TTM)</b></span><br><br>
          Realizamos un examen funcional completo para la identificación de la patologías o enfermedades relacionadas con la mordida, articulación temporomandibular y musculatura masticatoria. Aplicando Planos de alivio oclusal en tratamientos contra bruxismo y complementando tratamientos con equipos multidisciplinarios como kinesiólogo y fonoaudiólogo y terapias alternativas (yoga, flores de Bach).<br><br>

          <b>Oclusión</b> es la especialidad de la odontología que estudia y trata los trastornos que pueda tener el paciente con su mordida y sus músculos masticatorios.<br><br>
          <b>El bruxismo</b> es la enfermedad más conocida, que consiste en apretar y/o rechinar los dientes de manera constante y de forma inconsciente, dañando las piezas dentales. Afecta entre un 10 % y un 20 % de la población y puede acompañarse de dolor de cabeza y dolor en los músculos de la mandíbula, cuello, oído, columna cervical y hombros.<br><br>
          El rechinamiento se puede producir durante el día o por la noche. Además del estrés, existen otros factores que pueden contribuir a la aparición como son los hábitos del sueño, postura corporal, alineación de los dientes y la incapacidad para relajarse.<br><br>
          <b>Clases de bruxismo:</b><br><br>
          <b>- Bruxismo mientras estamos despiertos:</b> Se aprietan los dientes varias veces al día, sin hacerlos sonar, pero con un trabajo muscular sostenido que genera dolor en la zona de maseteros y sienes, en ambos lados de la cara.<br><br>
          <b>-	Bruxismo mientras estamos durmiendo:</b> No se asocia mucho a dolor y es por ello que quien sufre de bruxismo de sueño no lo percibe, pero sí quien duerme a su lado al escuchar un fuerte rechinamiento dentario mientras duerme.<br><br>
          - En el caso de los niños, el <b>bruxismo</b> se presenta durante su desarrollo de manera frecuente, casi de manera normal, ya que las vías respiratorias son estrechas mientras que las amígdalas y las adenoides son grandes. A medida que vayan creciendo, el bruxismo desaparecerá.<br><br>

          <b>¿Que es un plano de relajación?</b><br><br>
          Es un dispositivo confeccionado en acrílico transparente, con un grosor aproximado de 3-4 mm. Se posiciona en las piezas dentarias superiores o inferiores con el fin de disminuir la fuerza de los músculos elevadores de la mandíbula y disminuir el daño a las piezas dentarias o restauraciones realizadas en boca.

        </p>
      </div>

      <a href="#homeprincipal" class="arriba scroll"></a>

    </div>
  </div>
</div>
