<div class="contacto" id="contacto">
  <h1 class="blockquote"><span>Contacto</span></h1>
  <a href="#homeprincipal" class="arriba scroll"></a>
</div>
<div class="contactoContenido">
  <div class="contactouno">
    <h2 class="blockquote"><img src="assets/img/imagenesclinica/mail1.png"><span>        Correo: Contacto@clinicadentalalameda.cl</span></h2>
    <h2 class="blockquote"><img src="assets/img/pagina%20logo.png"><span>       PLataforma Web: www.clinicadentalalameda.cl</span></h2>
    <h2 class="blockquote"><img src="assets/img/imagenesclinica/tel3.png"><span>         Telefono: +56 2 32451667</span></h2>
  </div>
  <div class="contactodos">
    <h2 class="blockquote"><img src="assets/img/instagram%20logo.jpg"><span><a href="https://www.instagram.com/clinicadentalalameda.cl/">          Instagram: clinicadentalalameda.cl</a></span></h2>
    <h2 class="blockquote"><img class="imagenf" src="assets/img/facebook%20logo.png"><span><a href="https://www.facebook.com/clinicadentalalameda.cl/">      Facebook: Clinicadentalalameda.cl</a></span></h2>
    <h2 class="blockquote"><img class="imagenw" src="assets/img/WhatsApp-logo.png"><span>      Whatsapp: +56 9 8905 3857</span></h2>
  </div>
</div>
