<nav class="navhome">
  <ul>
    <li><a href="#nosotros" class="scroll">Nosotros</a></li>
    <li><a href="#especialidades" class="scroll">Especialidades</a></li>
    <li><a href="#ubicacion" class="scroll">Ubicacion</a></li>
    <li><a href="#contacto" class="scroll">Contacto</a></li>
  </ul>
</nav>
<app-banner></app-banner>
<app-nosotros></app-nosotros>
<app-especialidades></app-especialidades>
<app-ubicacion></app-ubicacion>
<app-contacto></app-contacto>


<footer class="final blockquote">
  <p>Copyright &copy; 2021 Clinica Dental Alameda - Todos los derechos reservados</p>
</footer>

<router-outlet></router-outlet>


