<div class="reg-cita">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Actualizaci&oacute;n de Datos Secretaria</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Identificaci&oacute;n:</mat-label>
              <input matInput formControlName="id" class="form-control" type="text"/>
            </mat-form-field>
          </div>
          <div class="col">
            <button mat-raised-button type="submit" class="botondos" (click)="cargarData()">Buscar</button>
          </div>
        </div>
        <!-- DATOS DEL PACIENTE -->
        <br>
        <br>
        <div class="row" *ngIf="mostrarCampo">
          <div class="col">
            <mat-form-field class="especial" appearance="fill">
              <mat-label>Tipo de Identificaci&oacute;n:</mat-label>
              <mat-select formControlName="tipoidentificacion" required>
                <mat-option value="RUT">RUT</mat-option>
                <mat-option value="RUN">RUN</mat-option>
                <mat-option value="CI">CI</mat-option>
                <mat-option value="Pasaporte">Pasaporte</mat-option>
                <mat-option value="Cedula Extranjera">Cedula Extranjera</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('tipoidentificacion').hasError('required')">
                El Tipo de Identificaci&oacute;n es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="mostrarCampo">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Nombre:</mat-label>
              <input matInput type="text" formControlName="nombre" class="form-control" required/>
              <mat-error *ngIf="form.get('nombre').hasError('required')">
                El Nombre es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Apellido:</mat-label>
              <input matInput type="text" formControlName="apellido" class="form-control" required/>
              <mat-error *ngIf="form.get('apellido').hasError('required')">
                El Apellido es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="mostrarCampo">
          <div class="col">
            <mat-form-field class="colemail" appearance="fill">
              <mat-label>Email:</mat-label>
              <input matInput type="email" formControlName="email" class="form-control" required/>
              <mat-error *ngIf="form.get('email').hasError('required')">
                El Email es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Celular: +56</mat-label>
              <input matInput type="text" formControlName="celular" class="form-control" required minlength="9"/>
              <mat-hint class="ac-form-field-description">Digite solo numeros.</mat-hint>
              <mat-error *ngIf="form.get('celular').hasError('required')">
                El celular es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="mostrarCampo">
          <div class="col">
            <mat-form-field class="especial" appearance="fill">
              <mat-label>Fecha de nacimiento:</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechanacimiento" required/>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="form.get('fechanacimiento').hasError('required')">
                La Fecha de nacimiento es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Pais:</mat-label>
              <mat-select formControlName="pais" required>
                <mat-option value="Chile">Chile</mat-option>
                <mat-option value="Colombia">Colombia</mat-option>
                <mat-option value="Argentina">Argentina</mat-option>
                <mat-option value="Brasil">Brasil</mat-option>
                <mat-option value="Peru">Peru</mat-option>
                <mat-option value="Paraguay">Paraguay</mat-option>
                <mat-option value="Bolivia">Bolivia</mat-option>
                <mat-option value="Uruguay">Uruguay</mat-option>
                <mat-option value="Ecuador">Ecuador</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('pais').hasError('required')">
                El pais es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="mostrarCampo">
          <div class="col">
            <mat-form-field class="departa" appearance="fill">
              <mat-label>Comuna:</mat-label>
              <input matInput type="text" formControlName="departamento" class="form-control" required/>
              <mat-error *ngIf="form.get('departamento').hasError('required')">
                El Departamento es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Ciudad</mat-label>
              <input matInput type="text" formControlName="ciudad" class="form-control" required/>
              <mat-error *ngIf="form.get('ciudad').hasError('required')">
                La ciudad es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="mostrarCampo">
          <div class="col">
            <mat-form-field class="departa" appearance="fill">
              <mat-label>Seudonimo:</mat-label>
              <input matInput type="text" formControlName="seudonimo" class="form-control" required/>
              <mat-error *ngIf="form.get('seudonimo').hasError('required')">
                El seudonimo es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Clave:</mat-label>
              <input matInput minlength="10" [type]="hide ? 'password' : 'text'" formControlName="clave" required/>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint align="start"><strong>Minimo 8 caracteres.</strong> </mat-hint>
              <mat-error *ngIf="form.get('clave').hasError('required')">
                La clave es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <br>
        <div class="row" *ngIf="mostrarCampo">
          <button mat-raised-button class="boton" type="submit" color="primary" (click)="actualizarUsuario()">Actualizar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
