<div class="nosotros" id="nosotros">
  <h1><span>Nosotros</span></h1>
</div>
<div class="informacion">
  <div class="container">
    <div class="lbl-menu">
      <label for="radio1" class="blockquote">¿Quienes somos?</label>
      <label for="radio2" class="blockquote">Mision</label>
      <label for="radio3" class="blockquote">Vision</label>
    </div>

    <div class="content">

        <input type="radio" name="radio" id="radio1" checked>
        <div class="tab1">
          <p ALIGN="justify">
            Somos una clínica dental integral y especializada, formada por un equipo de profesionales altamente calificados. Además, contamos con modernas instalaciones, equipos de alta tecnología y tratamientos dentales de vanguardia, brindando una atención personalizada y de calidad para toda la Familia, cuidando tu sonrisa a un precio justo.<br><br>
            Clínica certificada por el Ministerio de Salud.
          </p>
          <img src="assets/img/imagenesclinica/R20171027_130642.jpg">
        </div>

        <input type="radio" name="radio" id="radio2">
        <div class="tab2">
          <p ALIGN="justify">
            Nos esforzamos en poder entregar a nuestros pacientes un excelente servició en salud dental, siempre con los más altos estándares de calidad, prevaleciendo la estética dental y brindando tratamiento de acuerdo a sus necesidades. Contamos con un selecto grupo de profesionales y equipamiento,  para asegurar la confianza que han depositado en nosotros.
          </p>
          <img src="assets/img/imagenesclinica/BDSC04151.JPG">
        </div>

        <input type="radio" name="radio" id="radio3">
        <div class="tab3">
          <p ALIGN="justify">
            Queremos ser la clínica dental con más pacientes satisfechos, permitiéndonos crecer y brindando  un modelo de atención integral en salud oral, con un enfoque familiar y comunitario.  Facilitando a que más personas puedan acceder a la salud bucal con alternativas económicas y de mejor calidad.
          </p>
          <img src="assets/img/imagenesclinica/seremi-salud.jpg">
        </div>

      <a href="#homeprincipal" class="arriba scroll"></a>

    </div>
  </div>
</div>
