<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Principal">
    <h2>Bienvenido a la Clinica Alameda {{nombrePersona}}</h2>
    <div align="center">
      <img src="assets/img/imagenesclinica/CDA_logo_Transparente.png">
    </div>
  </mat-tab>
  <mat-tab label="Registro Odontologo">
    <app-registro-odontologo></app-registro-odontologo>
  </mat-tab>
  <mat-tab label="Registro Secretaria">
    <app-registro-secretaria></app-registro-secretaria>
  </mat-tab>
  <mat-tab label="Cambiar Banner">
    <app-banner-personal></app-banner-personal>
  </mat-tab>
  <mat-tab label="P.Q.R.S">
    <app-pqrs></app-pqrs>
  </mat-tab>
</mat-tab-group>
