<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Principal">
    <h2>Bienvenido a la Clinica Alameda {{nombrePersona}}</h2>
    <div align="center">
      <img src="assets/img/imagenesclinica/CDA_logo_Transparente.png">
    </div>
  </mat-tab>
  <mat-tab label="Registrar Cita">
    <app-registro-cita></app-registro-cita>
  </mat-tab>
  <mat-tab label="Actualizar Datos">
    <app-actualizar-paciente></app-actualizar-paciente>
  </mat-tab>
  <mat-tab label="P.Q.R.S">
    <app-pqrs-paciente></app-pqrs-paciente>
  </mat-tab>
</mat-tab-group>
