<div class="ubicacion" id="ubicacion">
  <h1 class="blockquote"><span>Ubicacion</span></h1>
  <a href="#homeprincipal" class="arriba scroll"></a>
</div>
<div class="ubicacionimagen">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3328.8087683451317!2d-70.6934428!3d-33.4542884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c4f517279bcb%3A0x46ee01d452c76aa2!2sClinica%20Dental%20Alameda!5e0!3m2!1ses-419!2sco!4v1625264764735!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="ubicacionfooter">
  <img src="assets/img/imagenesclinica/localizacion%20logo.png">
  <h4 class="blockquote"><span>Av Libertador Bernardo O´Higgins 4050 Piso 4, Oficina 418. Estación Central. Edificio Alameda Oficinas.</span></h4>
  <br>
  <h4 class="blockquote"><img src="assets/img/imagenesclinica/metro_santiago_cl.png"><span>      Metro San Alberto Hurtado Línea 1</span></h4>
  <br>
  <h4 class="blockquote"><img src="assets/img/imagenesclinica/tel3.png"><span>    Tel +56 2 32451667 +56989053857</span></h4>
</div>
