.reg-paciente {
  top: 80px;
}

.example-card {
  max-width: 800px;
  left: 275px;
}

.row .col .mat-form-field + .mat-form-field {
  margin-left: 12px;
  align-items: center;
}

.row .boton {
  max-width: 200px;
  align-items: center;
  left: 300px;
  color: #ffffff;
  background-color: #3B83BD;
}

.row .especial {
  max-width: 250px;
  align-items: center;
}

.row .colemail {
  max-width: 250px;
  align-items: center;
}

.row .departa {
  max-width: 300px;
  align-items: center;
}
